body {
  background: linear-gradient(to right, #fc466b, #3f5efb);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-container {
  padding: 20px;
}

.login-form {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 15px;
}

.login-form h2 {
  font-weight: 600;
  color: #333;
}

.btn-success {
  background-color: #3f5efb;
  border: none;
}

.btn-success:hover {
  background-color: #2f4fc7;
}

#log{
    text-decoration: none;
    color: #ffffff;
}
